.table-row{
    font-weight: bold;
    background-color: #cccccc;
    display: flex;
    width: 90%;
    margin: 1.5em;
    padding: 1em 10px 1em 30px;
    border-radius: 5px;
    font-size: 1em;
}

#rank{
    width: 20%
}

#tree-name{
    width: 60%
}

#points{
    width:20%
}