.table-row{
    font-weight: bold;
    background-color: #cccccc;
    display: flex;
    width: 80%;
    margin: 10px 0px 30px 0px;
    padding: 10px 2px 5px 10px;
}

#rank{
    width: 20%
}

#tree-name{
    width: 60%
}

#points{
    width:20%
}