@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.BBN_div{
    font-family: 'Open Sans', sans-serif;
    background-color: #e7fefe;
    padding: 10px;
    padding-top: 0px;
    display: inline-block;
    line-height: 0.5;
}

.BBN_p{
    font-size: 8px;
}

img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 0px;
}

a{
    font-size: 8px;
    color: #0a7cf5;
}

a:hover{
    color: #54a3f8;
}

a:visited{
    color: #0a7cf5;
}

a:visited:hover{
    color: #54a3f8;
}