.profile-wrapper{
    margin-left: 20px;
    overflow: auto;
    display: flex;
}

/* Left half: Tree name, description, points */
.left{
    float: left;
    width: 50%;
    min-height: 100%;
    position: relative;
}

.points{
    bottom: 0px;
    position: absolute;
}

/* Right half: Horizontally centered photo */
.right{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.treePhoto{
    width: 260px;
    height: 175px;
    border-radius: 5px;
}