.profile-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    height: 40vh;
    font-size: 1em;
    text-align: left;
    overflow: auto;
    display: flex;
}

/* Left half: Tree name, description, points */
.left{
    width: 50%;
    min-height: 100%;
    position: relative;
}

.points{
    bottom: 0px;
    position: absolute;
    display: flex;
}

.PointSection{
    display: inline;
}

#inactive{
    color: red;
}

/* Right half: Horizontally centered photo */
.right{
    width: 50%;
    text-align: right;
}

.treePhoto{
    width: 30vw;
    height: 39vh;
    border-radius: 1em;
}